.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  flex: 30%;
  background-color: blueviolet;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .input-container{
  display: flex;
  flex-direction: column;
}
.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  border: 2px solid palevioletred;
}
.header button{
  width: 70px;
  height: 90px;
  border: none;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
  padding-left: 10px;
  cursor: pointer;
}

body {
  margin: 0%;
  padding: 0%;
}

.todoList{
  flex: 70%;
  width: 100%;
  background-color: darkorchid;
}